<% layout("/layouts/boilerplate") %>
<br><br>
<div class="row">
    <div class="col-8 offset-2">
   <h3> Edit Your Listing</h3>
    <form  method="POST"action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
    <div class="mb-3">
        <label for="title"class="form-label">Title</label>
     <input type="text" name="listing[title]" id="" value="<%=listing.title%>" placeholder="enter title" class="form-control" required>
     <div class="valid-feedback">nice title!</div>
    </div>
    <div class="mb-3">
        <label for="Description"class="form-label">Description</label>
     <textarea type="text" name="listing[description]"value="<%=listing.description%>" id="" class="form-control"  required></textarea>
     <div class="invalid-feedback">please valid description!</div>
     </div>
     <div class="mb-3 preview-image">
        <p class="text-sm text-gray-600">Original listing image</p>
        <img src="<%= listing.image.url %>" alt="Listing image" />
      </div>
      
      
     <div class="mb-3">
        <label for="Image"class="form-label">upload new Image</label>
     <input type="file" name="listing[image]" id="" value="" class="form-control"  >
    </div>
    <div class="row">
    <div class="mb-3 col-md-4">
        <label for="Price"class="form-label">Price</label>
     <input type="number" name="listing[price]"value="<%=listing.price%>" id=""  class="form-control"  required>
    </div>
    <div class="invalid-feedback">please provide price!</div>
   
    <div class="mb-3 col-md-8">
        <label for="Country"class="form-label">Country</label>
     <input type="text" name="listing[country]" value="<%=listing.country%> "id=""  class="form-control"  required>
    </div>
    <div class="invalid-feedback">please provide countryname!</div>
</div>
    <div class="mb-3">
        <label for="Location"class="form-label">Location</label>
     <input type="text" name="listing[location]" value="<%=listing.location%>"id=""  class="form-control" required >
    </div>
    <div class="invalid-feedback">please provide location!</div>
     <button class="btn btn-dark edit-btn">Edit</button>
     <br><br>
    </form>
</div>

</div>

</body>
</html>